.Simulation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "tb name name"
                            "tb des des"
                            "tb aut upTime"
                            "dis dis dis"; 
    margin: 1em;
    border: 2px solid black;
    border-radius: 2em;
                        }

.Thumbnail {
    grid-area: tb;
    background-color: gray;
    margin: 1em;
    width: auto;
    max-width: 300px;
    aspect-ratio: 4 / 3;
}

.Name {
    grid-area: name;
}

.Description {
    grid-area: des;
}

.AuthorName {
    grid-area: aut;
}

.UploadTime {
    grid-area: upTime;
}